body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:invalid {
   border-color: red;
  }

.invalid {
color: red;
}

button {
    cursor: pointer;
    border: none;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    width: 35%;
    padding: 0.5rem 1rem;
  }

  aside {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: hsla(200, 10%, 50%, 0.64);
  padding-top: 20%;
  font-size: 80px;
  text-align: center;
}
